<mat-card class="cardWithShadow overflow-hidden" style="width:80vw; height:100vh;">
  <mat-card-content>
    <mat-card-title class="m-b-4">Tickets réservés</mat-card-title>
  </mat-card-content>

  <div class="table-responsive p-4">
    <table mat-table [dataSource]="dataSource" class="w-100" matSort>

      <!-- Colonne Événement -->
      <ng-container matColumnDef="evenement">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">Événement</th>
        <td mat-cell *matCellDef="let element">
          <h6 class="mat-subtitle-1 text-truncate-2 f-s-14 lh-sm">
            {{ element.evenementId }}
          </h6>
        </td>
      </ng-container>

      <!-- ✅ Nouvelle Colonne Place -->
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">Place</th>
        <td mat-cell *matCellDef="let element">
          {{ element.place }}
        </td>
      </ng-container>

      <!-- Colonne Paiement -->
      <ng-container matColumnDef="paiement">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">Paiement</th>
        <td mat-cell *matCellDef="let element">
          <h6 class="mat-subtitle-1 f-s-16">{{ element.prix }} €</h6>

        </td>
      </ng-container>

      <!-- Colonne Statut -->


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef class="mat-subtitle-1 f-s-14">
          Statut
        </th>
        <td mat-cell *matCellDef="let element">
    <span
      class="bg-light-{{ element.acheter ? 'success' : 'warn' }} text-{{ element.acheter ? 'success' : 'warn' }} f-s-12 f-w-500 p-x-10 p-y-4 rounded-pill">
      {{ element.acheter ? 'Payé' : 'Réservé' }}
    </span>
        </td>
      </ng-container>




      <!-- Colonne Menu -->
      <ng-container matColumnDef="menu">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Options">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu" xPosition="before">
            <button mat-menu-item disabled>
              <mat-icon>info</mat-icon>
              <span>Détails</span>
            </button>
          </mat-menu>
        </td>
      </ng-container>

      <!-- Lignes -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
<style>.bg-light-success {
  background-color: rgb(22 205 199 / 15%);
}

.bg-light-warn {
  background-color: rgb(247 68 86 / 15%);
}

.text-success {
  color: rgb(22, 205, 199);
}

.text-warn {
  color: rgb(255 102 148);
}

.rounded-pill {
  border-radius: 50px;
  padding: 4px 12px;
  display: inline-block;
}
</style>
