<div class="container-fluid p-0 m-0" style="width: 90vw;">
  <mat-card class="cardWithShadow" style="width: 90%;">
    <mat-card-content>
      <mat-card-title>Participants</mat-card-title>

      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource1" class="w-100">

          <!-- Colonne Prénom -->
          <ng-container matColumnDef="prenom">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-l-0">Prénom</th>
            <td mat-cell *matCellDef="let element" class="p-l-0">
              <div class="d-flex align-items-center">
                <img src="assets/images/profile/user-2.jpg" alt="user" width="40" class="rounded-7" />
                <div class="m-l-16">
                  <h6 class="f-s-14 f-w-600">{{ element.prenom }}</h6>
                </div>
              </div>
            </td>
          </ng-container>

          <!-- Colonne Nom -->
          <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Nom</th>
            <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
          </ng-container>

          <!-- Colonne Email -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <!-- Colonne Actions -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14">Actions</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="primary" class="bg-light-success">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn" class="bg-light-error">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Affichage des lignes -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
</div>
